#include <windows.h>
#include <KexVer.h>
1 VERSIONINFO
FILEVERSION KEX_VERSION_FV
PRODUCTVERSION KEX_VERSION_FV
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "VxKex Vista Configuration Helper"
   VALUE "FileVersion", KEX_VERSION_STR
   VALUE "ProductVersion", KEX_VERSION_STR
   VALUE "OriginalFilename", "KexCfg.exe"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
1 RT_MANIFEST "KexCfg.manifest"
#include <commctrl.h>
#include "resource.h"
IDI_APPICON ICON "kexcfg.ico"


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

IDM_LISTVIEWITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Open file locat&ion",	M_OPENFILELOCATION
		MENUITEM "&Run program",		M_RUNPROGRAM
		MENUITEM "Remo&ve from list",	M_REMOVE
		MENUITEM "P&roperties",			M_PROPERTIES
	END
END

IDM_LISTVIEWMULTIITEMMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Remo&ve from list",	M_REMOVE
	END
END

IDM_LISTVIEWBLANKSPACEMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "A&dd program...",		M_ADDPROGRAM
		MENUITEM "&Clean program list",	M_CLEANPROGRAMS
	END
END

IDD_DIALOG1 DIALOGEX 0, 0, 354, 302
	STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU | WS_MINIMIZEBOX
	CAPTION "VxKex Vista Global Settings"
	FONT 8, "Segoe UI", 400, 0, 1
BEGIN
	LTEXT			"Configure VxKex Vista settings:", IDSTATIC, 7, 7, 133, 8, SS_LEFT

	GROUPBOX		"Logging", IDSTATIC, 7, 20, 340, 31
	AUTOCHECKBOX	"Ena&ble", IDC_ENABLELOGGING, 16, 34, 55, 9
	EDITTEXT		IDC_LOGDIR, 71, 32, 211, 12, ES_AUTOHSCROLL
	PUSHBUTTON		"B&rowse...", IDC_BROWSELOGDIR, 292, 31, 50, 14

	GROUPBOX		"System integration", IDSTATIC, 7, 56, 340, 55
	AUTOCHECKBOX	"Allow VxKex Vista to be enabled for &MSI installers", IDC_ENABLEFORMSI, 16, 69, 250, 9
	AUTOCHECKBOX	"Bypass ""... is not a valid &Win32 application"" error message", IDC_CPIWBYPA, 16, 82, 290, 9
	AUTOCHECKBOX	"&Add VxKex Vista to:", IDC_ADDTOMENU, 16, 95, 99, 9
	COMBOBOX		IDC_WHICHCONTEXTMENU, 120, 93, 130, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT			"Configure applications that have VxKex Vista enabled:", IDSTATIC, 7, 116, 200, 8, SS_LEFT
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT, 7, 129, 280, 144
	PUSHBUTTON		"A&dd...", IDC_NEWAPP, 292, 129, 50, 14
	PUSHBUTTON		"&Remove", IDC_REMOVEAPPS, 292, 148, 50, 14, WS_DISABLED
	PUSHBUTTON		"&Properties", IDC_PROPERTIES, 292, 167, 50, 14, WS_DISABLED
	PUSHBUTTON		"C&lean", IDC_CLEANAPPS, 292, 186, 50, 14, WS_DISABLED

	PUSHBUTTON		"&OK", IDC_OK, 193, 281, 50, 14
	PUSHBUTTON		"&Cancel", IDC_CANCEL, 245, 281, 50, 14
	PUSHBUTTON		"Appl&y", IDC_APPLY, 297, 281, 50, 14
END

STRINGTABLE
BEGIN
	2000,	"VxKex Vista Global Settings"
END
